body{
    font-family:'Times New Roman';
}
p,ul{
    border:2px solid blue;
    padding:0.2em;
}
.block,li{
    border:2px solid blue;
    padding:0.2em;
}
ul{
    display:flex;
    list-style:none;
}
.block{
    display:block;
}