.container{
    border:5px solid blue;
    margin:40px;
}

.box{
    border:5px solid rebeccapurple;
    background-color:lightgray;
    padding:10px;
    height:100px;

    margin-top:-40px;
    margin-right:30px;
    margin-bottom:40px;
    margin-left:4em;
}